@import "tailwindcss";

@theme {
  --font-sans:
    "Shantell Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.react-colorful {
  border: 2px solid black;
}

.react-colorful > * {
  border-radius: 0 !important;
}
